.contacto-section {
  padding: 80px 40px;
  background: #fefefe;
  text-align: center;
  min-height: 70vh;
}

.contacto-section h2 {
  font-size: 2.4rem;
  margin-bottom: 10px;
  color: #111;
}

.contacto-section p {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 30px;
}

.redes-sociales {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.icono {
  font-size: 2.2rem;
  color: white;
  padding: 15px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.icono:hover {
  transform: scale(1.2);
}

.icono.whatsapp { background-color: #25D366; }



.contacto-grid {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.contacto-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px 30px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
  text-align: center;
  width: 250px;
}

.contacto-card h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #222;
}
